@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background-color: #FAFCFD;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #FAFCFD;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; 
  }
} */

body {
  color: var(--foreground-rgb);
  background-color: var(--background-color);
  padding: 1rem 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Auto layout */
/* display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px; */

/* position: absolute;
width: 1240px;
height: 1024px;
left: 100px;
top: 0px; */


