@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background-color: #FAFCFD;
  --primary-color:#3366FF;
  --header-bg-color:#F2F6FD;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #FAFCFD;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; 
  }
} */

body {
  color: var(--foreground-rgb);
  background-color: var(--background-color);
}
.ant-select-tree-list-holder-inner{
  display:  grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  row-gap: 0;
  font-size: small;
}
.ant-select-tree-list{
  max-height: 100px !important;
  padding: 0;
}
/* .mainBody {
  background-color: var(--background-color);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




